:host(:not([data-theme=dark])),
:root:not([data-theme=dark]),
[data-theme=light] {
    --pico-font-family: 'Barlow', sans-serif;
    --pico-color: #1e1735;
    --pico-h1-color: #1e1735;
    --pico-h2-color: #1e1735;
    --pico-h3-color: #1e1735;
    --pico-h4-color: #1e1735;
    --pico-h5-color: #1e1735;
    --pico-h6-color: #1e1735;
    --pico-primary: #45bea3;
    --pico-primary-focus: rgba(69, 190, 163, .5);
    --pico-primary-background: #45BEA3;
    --pico-primary-border: #45BEA3;
    --pico-primary-hover: #379983;
    --pico-primary-hover-background: #379983;
    --pico-primary-hover-border: #379983;
    --pico-primary-hover-underline: #379983;
}

body {
    font-family: 'Barlow', sans-serif;
    font-weight: 200;
}

.only-print {
    display: none;
}

@media only screen and (prefers-color-scheme: dark) {
    #logo {
        filter: invert(1) brightness(1000%) contrast(100%);
    }

    :host(:not([data-theme=light])),
    :root:not([data-theme=light]),
    [data-theme=dark] {
        --pico-color: #FFFFFF;
        --pico-h1-color: #FFFFFF;
        --pico-h2-color: #FFFFFF;
        --pico-h3-color: #FFFFFF;
        --pico-h4-color: #FFFFFF;
        --pico-h5-color: #FFFFFF;
        --pico-h6-color: #FFFFFF;
    }
}

#logo {
    height: 80px;
    width: auto;
    display: block;
    margin-block-end: 2rem;
}

.booking-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
}

.heading {
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--pico-typography-spacing-vertical);
}

.heading h2 {
    margin: 0;
}

.heading .print-button {
    font-size: 0.9rem;
    line-height: 1.2em;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-weight: bold;
}

.booking-details {
    flex: 1;
}

.booking-details p {
    margin-bottom: calc(var(--pico-typography-spacing-vertical) / 2);
}

.items-table {
    width: 100%;
    border-collapse: collapse;
}

.items-table th,
.items-table td {
    text-align: left;
}

.items-table td:last-child,
.items-table th:last-child {
    text-align: right;
}

.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    border-radius: 4px;
    color: white;
    z-index: 1000;
    animation: fadeIn 0.5s;
}

.notification.success {
    background-color: #4CAF50;
}

.notification.warning {
    background-color: #FF9800;
}

.notification.info {
    background-color: #2196F3;
}

.notification.error {
    background-color: #F44336;
}

.items-table .text-right,
table .text-right {
    text-align: right;
}

.no-border {
    border: none;
}

.bookable-items-table td:first-child,
.bookable-items-table th:first-child {
    width: 50%;
}

.info-icon {
    display: inline;
    margin-left: .25rem;
}

.info-icon svg {
    width: 20px;
    height: 20px;
}

body footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.8rem;
    color: var(--pico-color);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* barlow-200 - latin */
@font-face {
    font-display: swap;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/barlow-v12-latin-200.woff2') format('woff2'),
        url('../fonts/barlow-v12-latin-200.ttf') format('truetype');

}

/* barlow-200italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/barlow-v12-latin-200italic.woff2') format('woff2'),
        url('../fonts/barlow-v12-latin-200italic.ttf') format('truetype');

}

/* barlow-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'),
        url('../fonts/barlow-v12-latin-regular.ttf') format('truetype');

}

/* barlow-italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/barlow-v12-latin-italic.woff2') format('woff2'),
        url('../fonts/barlow-v12-latin-italic.ttf') format('truetype');

}

/* barlow-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/barlow-v12-latin-600.woff2') format('woff2'),
        url('../fonts/barlow-v12-latin-600.ttf') format('truetype');

}

/* barlow-600italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/barlow-v12-latin-600italic.woff2') format('woff2'),
        url('../fonts/barlow-v12-latin-600italic.ttf') format('truetype');
}

@media print {
    html {
        padding: 0;
        margin: 24px;
    }

    body {
        color: #000000 !important;
        font-family: sans-serif !important;
        font-weight: normal;
        padding: 48px;
    }

    #logo {
        margin-bottom: 48px;
        height: 72px;
    }

    .container {
        max-width: 100%;
        width: 100%;
        padding: 0;
    }

    .no-print {
        display: none;
    }

    .only-print {
        display: block !important;
    }

    article {
        padding-left: 0;
        padding-right: 0;
        padding-top: 2em;
        box-shadow: none;
    }

    .items-table th,
    .items-table td {
        padding-left: 0;
    }

    .booking-info {
        display: block;
    }

    .booking-details {
        float: left;
        width: 75%;
    }

    .booking-qr-code {
        float: right;
        width: 25%;
        text-align: right;
    }

    .items-table-container {
        clear: both;
    }

    tfoot td,
    tfoot th,
    thead td,
    thead th {
        font-weight: bold;
    }

    body footer {
        display: none;
    }
}