body {
    --pico-font-family: 'Barlow', sans-serif;
    --pico-color: #1e1735;
    --pico-h1-color: #1e1735;
    --pico-h2-color: #1e1735;
    --pico-h3-color: #1e1735;
    --pico-h4-color: #1e1735;
    --pico-h5-color: #1e1735;
    --pico-h6-color: #1e1735;
    font-family: 'Barlow', sans-serif;
    font-weight: 200;
}

.only-print {
    display: none;
}

@media only screen and (prefers-color-scheme: dark) {
    #logo {
        filter: invert(1);
    }

    body {
        --pico-color: #FFFFFF;
        --pico-h1-color: #FFFFFF;
        --pico-h2-color: #FFFFFF;
        --pico-h3-color: #FFFFFF;
        --pico-h4-color: #FFFFFF;
        --pico-h5-color: #FFFFFF;
        --pico-h6-color: #FFFFFF;
    }
}

#logo {
    height: 80px;
    width: auto;
    display: block;
    margin-block-start: 2rem;
    margin-block-end: 2rem;
}

.booking-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    justify-content: flex-start;
}

.booking-details {
    flex: 1;
}

.booking-details p {
    margin-bottom: calc(var(--pico-typography-spacing-vertical) / 2);
}

.items-table {
    width: 100%;
    border-collapse: collapse;
}

.items-table th,
.items-table td {
    text-align: left;
}

.items-table td:last-child,
.items-table th:last-child {
    text-align: right;
}

/* barlow-200 - latin */
@font-face {
    font-display: swap;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 200;
    src: url('../fonts/barlow-v12-latin-200.woff2') format('woff2'),
        url('../fonts/barlow-v12-latin-200.ttf') format('truetype');

}

/* barlow-200italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 200;
    src: url('../fonts/barlow-v12-latin-200italic.woff2') format('woff2'),
        url('../fonts/barlow-v12-latin-200italic.ttf') format('truetype');

}

/* barlow-regular - latin */
@font-face {
    font-display: swap;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/barlow-v12-latin-regular.woff2') format('woff2'),
        url('../fonts/barlow-v12-latin-regular.ttf') format('truetype');

}

/* barlow-italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 400;
    src: url('../fonts/barlow-v12-latin-italic.woff2') format('woff2'),
        url('../fonts/barlow-v12-latin-italic.ttf') format('truetype');

}

/* barlow-600 - latin */
@font-face {
    font-display: swap;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/barlow-v12-latin-600.woff2') format('woff2'),
        url('../fonts/barlow-v12-latin-600.ttf') format('truetype');

}

/* barlow-600italic - latin */
@font-face {
    font-display: swap;
    font-family: 'Barlow';
    font-style: italic;
    font-weight: 600;
    src: url('../fonts/barlow-v12-latin-600italic.woff2') format('woff2'),
        url('../fonts/barlow-v12-latin-600italic.ttf') format('truetype');
}

@media print {
    html {
        padding: 0;
        margin: 48px;
    }

    body {
        color: #000000 !important;
        font-family: sans-serif !important;
        font-weight: normal;
        margin: 48px;
        padding: 48px;
    }

    @page {
        size: a4;
        margin: 48px;
        padding: 48px;
    }

    #logo {
        margin-top: 0;
        margin-bottom: 48px;
    }

    .container {
        max-width: 100%;
        width: 100%;
        padding: 0;
    }

    .no-print {
        display: none;
    }

    .only-print {
        display: block !important;
    }

    article {
        padding-left: 0;
        padding-right: 0;
        padding-top: 2em;
    }

    .items-table th,
    .items-table td {
        padding-left: 0;
    }

    .booking-info {
        display: block;
    }

    .booking-details {
        float: left;
    }

    .booking-qr-code {
        float: right;
        margin-left: 2rem;
    }

    .items-table-container {
        clear: both;
    }

    .items-table{}

    tfoot td,
    tfoot th,
    thead td,
    thead th {
        font-weight: bold;
    }
}